# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

In [3]:
data.head()

,CustomerID,FirstName,LastName,SalesID,ProductID,ProductName,Quantity
0,61288,Rosa,Andersen,134196,229,Bread - Hot Dog Buns,16
1,77352,Myron,Murray,6167892,229,Bread - Hot Dog Buns,20
2,40094,Susan,Stevenson,5970885,229,Bread - Hot Dog Buns,11
3,23548,Tricia,Vincent,6426954,229,Bread - Hot Dog Buns,6
4,78981,Scott,Burch,819094,229,Bread - Hot Dog Buns,20

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [4]:
grouped = data.groupby(["CustomerID", "ProductName"]).agg({"Quantity":"sum"}).reset_index()
grouped

       CustomerID                    ProductName  Quantity
0              33               Apricots - Dried         1
1              33              Assorted Desserts         1
2              33        Bandage - Flexible Neon         1
3              33  Bar Mix - Pina Colada, 355 Ml         1
4              33         Beans - Kidney, Canned         1
...           ...                            ...       ...
63623       98200                   Vol Au Vents        50
63624       98200                  Wasabi Powder        25
63625       98200       Wine - Fume Blanc Fetzer        25
63626       98200  Wine - Hardys Bankside Shiraz        25
63627       98200        Yogurt - French Vanilla        25

[63628 rows x 3 columns]

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [5]:
pivot = pd.pivot_table(grouped,index=["ProductName"], columns=["CustomerID"], values="Quantity", fill_value=0)
pivot.columns

Int64Index([   33,   200,   264,   356,   412,   464,   477,   639,   649,
              669,
            ...
            97697, 97753, 97769, 97793, 97900, 97928, 98069, 98159, 98185,
            98200],
           dtype='int64', name='CustomerID', length=1000)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [6]:
distances = pd.DataFrame(1 / (1 + squareform(pdist(pivot.T, 'euclidean'))), index = pivot.columns, columns=pivot.columns)
distances

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97928,0.004515,0.004521,0.004543,0.004526,0.004530,0.004533,0.004534,0.004526,0.004528,0.004523,...,0.003509,0.003509,0.003300,0.003653,0.003579,1.000000,0.003638,0.003418,0.003255,0.003245
98069,0.004583,0.004614,0.004595,0.004578,0.004578,0.004578,0.004589,0.004581,0.004585,0.004592,...,0.003509,0.003509,0.003369,0.003509,0.003496,0.003638,1.000000,0.003469,0.003345,0.003381
98159,0.004355,0.004367,0.004365,0.004365,0.004367,0.004363,0.004366,0.004363,0.004369,0.004365,...,0.003509,0.003565,0.003322,0.003431,0.003322,0.003418,0.003469,1.000000,0.003277,0.003266
98185,0.004167,0.004166,0.004179,0.004175,0.004177,0.004167,0.004168,0.004176,0.004172,0.004161,...,0.003311,0.003162,0.003255,0.003406,0.003172,0.003255,0.003345,0.003277,1.000000,0.003288
98200,0.004333,0.004335,0.004333,0.004339,0.004349,0.004347,0.004338,0.004335,0.004329,0.004347,...,0.003418,0.003345,0.003381,0.003444,0.003288,0.003245,0.003381,0.003266,0.003288,1.000000

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [7]:
similarities = list(distances[33].sort_values(ascending=False)[1:6].index)
similarities

[264, 3535, 3317, 2503, 3305]

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [8]:
best_five = grouped[grouped["CustomerID"].isin(similarities)]
best_five

      CustomerID                     ProductName  Quantity
131          264               Apricots - Halves         1
132          264                  Apricots Fresh         1
133          264      Bacardi Breezer - Tropical         1
134          264                   Bagel - Plain         1
135          264                 Banana - Leaves         1
...          ...                             ...       ...
3003        3535             Tray - 16in Rnd Blk         1
3004        3535                     Wanton Wrap         1
3005        3535   Wine - Blue Nun Qualitatswein         1
3006        3535  Wine - Magnotta, Merlot Sr Vqa         1
3007        3535                   Yoghurt Tubes         1

[270 rows x 3 columns]

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [9]:
grouped2 = best_five.sort_values("Quantity", ascending=False)
grouped2

      CustomerID                        ProductName  Quantity
1875        2503                  Butter - Unsalted         2
1868        2503  Bar - Granola Trail Mix Fruit Nut         2
2783        3305      Wine - Ej Gallo Sierra Valley         2
1888        2503              Knife Plastic - White         2
157          264                        Guinea Fowl         2
...          ...                                ...       ...
1902        2503         Soup - Campbells, Cream Of         1
1903        2503       Soup - Canadian Pea, Dry Mix         1
1904        2503                 Tea - Decaf Lipton         1
1905        2503                          Tia Maria         1
3007        3535                      Yoghurt Tubes         1

[270 rows x 3 columns]

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [10]:
merged = pd.merge(grouped2, pivot[33], on="ProductName")
merged = merged[merged[33] == 0]
merged

     CustomerID                        ProductName  Quantity  33
0          2503                  Butter - Unsalted         2   0
1          3317                  Butter - Unsalted         1   0
2          2503  Bar - Granola Trail Mix Fruit Nut         2   0
3          3305      Wine - Ej Gallo Sierra Valley         2   0
4          3317      Wine - Ej Gallo Sierra Valley         1   0
..          ...                                ...       ...  ..
265        2503                Sauce - Hollandaise         1   0
266        2503                    Sausage - Liver         1   0
267        2503         Soup - Campbells, Cream Of         1   0
268        2503       Soup - Canadian Pea, Dry Mix         1   0
269        2503                          Tia Maria         1   0

[227 rows x 4 columns]

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [13]:
recommendations = dict()
customers_id_list = list(distances.index)
for i in customers_id_list:
    best_rec = list(distances[i].sort_values(ascending=False)[1:6].index)
    data1 = grouped[grouped["CustomerID"].isin(best_rec)]
    data2 = data1.groupby("ProductName").agg({"Quantity":"sum"}).sort_values("Quantity", ascending=False).reset_index()
    customers_id_list = list(data[data["CustomerID"] == i]["ProductName"])
    data3 = data2[data2["ProductName"].isin(customers_id_list)].head()
    recommendations[i] = list(data3["ProductName"])

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [19]:
recommended = pd.DataFrame(recommendations)
recommended

,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
0,Towels - Paper / Kraft,"Pepper - Black, Whole",Potatoes - Idaho 100 Count,Wine - Ej Gallo Sierra Valley,"Veal - Inside, Choice",Cheese - Cambozola,Soup - Campbells Bean Medley,Halibut - Steaks,Ketchup - Tomato,"Sauce - Gravy, Au Jus, Mix",...,Pork - Kidney,Ecolab - Lime - A - Way 4/4 L,"Wine - Red, Colio Cabernet","Thyme - Lemon, Fresh",Scampi Tail,Bouq All Italian - Primerba,Chocolate - Dark,Chips Potato All Dressed - 43g,Halibut - Steaks,Sea Bass - Whole
1,"Pepper - Black, Whole",Lamb - Ground,Wine - Blue Nun Qualitatswein,Wine - Blue Nun Qualitatswein,Soupfoamcont12oz 112con,"Nut - Chestnuts, Whole","Sauce - Gravy, Au Jus, Mix",Fenngreek Seed,Fenngreek Seed,Cheese - Cambozola,...,Cocoa Butter,Cocoa Butter,Dc Hikiage Hira Huba,Table Cloth 54x72 White,Beef - Texas Style Burger,Tea - Jasmin Green,Longos - Grilled Salmon With Bbq,Table Cloth 81x81 White,Cod - Black Whole Fillet,Apricots - Halves
2,Potatoes - Idaho 100 Count,Coffee - Irish Cream,Lettuce - Spring Mix,Table Cloth 81x81 White,Curry Paste - Madras,Ketchup - Tomato,Chinese Foods - Chicken,Sardines,Halibut - Steaks,Soupfoamcont12oz 112con,...,Mustard - Seed,Vinegar - Tarragon,Clam Nectar,Barramundi,French Pastry - Mini Chocolate,Arizona - Green Tea,Olives - Kalamata,Pernod,Wine - Pinot Noir Latour,Onion Powder
3,"Veal - Inside, Choice","Tart Shells - Sweet, 4",Cheese Cloth No 100,Potatoes - Idaho 100 Count,"Fish - Scallops, Cold Smoked",Cheese Cloth No 100,Sausage - Breakfast,"Pepper - Paprika, Hungarian",Soupfoamcont12oz 112con,Halibut - Steaks,...,"Hickory Smoke, Liquid","Veal - Brisket, Provimi,bnls",Cornflakes,Cake - Cake Sheet Macaroon,Scallops - Live In Shell,Cinnamon Buns Sticky,Sugar - Fine,"Ice - Clear, 300 Lb For Carving",Chicken - Wieners,Dried Figs
4,"Lamb - Pieces, Diced",Tahini Paste,Towels - Paper / Kraft,Corn Meal,Foam Dinner Plate,Tea - Decaf Lipton,Crush - Cream Soda,"Oregano - Dry, Rubbed","Mushrooms - Black, Dried",Ocean Spray - Ruby Red,...,"Thyme - Lemon, Fresh","Appetizer - Mini Egg Roll, Shrimp",Coffee - Dark Roast,Longos - Chicken Wings,Chinese Foods - Chicken,Bacardi Breezer - Tropical,Mustard Prepared,"Wine - White, Mosel Gold",Turkey - Oven Roast Breast,Chips Potato Salt Vinegar 43g

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.